.bb-header-buttons {
    .btn-login {
        font-weight: 600;
        font-size: 16px;
        line-height: 21px;
        color: #FBF5F3 !important;
        width: 180px;
        height: 57px;
        background: #870557;
        border-radius: 4px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        transition-duration: .4s;
    }
}
.bb-left-panel-mobile {
    @media (max-width: 799px) {
        margin-left: 5px;
    }
}
.bb-mobile-header .header-aside {
    @media (max-width: 799px) {
        padding-right: 5px;
    }
}
#primary-menu {
    display: flex;
    justify-content: center;
    width: 100%;
    &>li {
        &> a {
			position: relative;
			color: #FBF5F3 !important;
			font-size: 16px;
            font-style: normal;
            font-weight: 500;
            text-transform: capitalize;
            transition-duration: 1s;
            
            &:after {
                content: '';
                position: absolute;
                right: 0;
                bottom: 25px;
                width: 0;
                height: 1px;
                background-color: #FBF5F3;
                transition: all 0.35s ease-in-out;
            }

            &:hover {
				text-decoration: none !important;
				
                &:after {
                    width: 100%;
                    left: 0;
                }
            }
        }
        &.current-menu-ancestor {
            &>a {
                color: #FBF5F3 !important;
                position: relative;
                &:after {
                    position: absolute;
                    bottom: 25px;
                    content: '';
                    left: 0;
                    width: 100%;
                    height: 1px;
                    background-color: #fff;
                }
            }
        }
        .sub-menu {
            li {
                a {
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 20px;
                    color: #FBF5F3 !important;
					
					&:hover {
						color: $violet !important;
					}
                }
                &.current-menu-item {
                    a {
                      color: $violet !important;
                    }
                }
            }
        }
    }
}
#header-aside>div>div>a:hover {
    color: #fff !important;
    i {
         color: #fff !important;
    }
}
.site-header .sub-menu {
    background-color: $violet;
    border-radius: 0!important;
    &::before {
            border-color: $violet !important;
            right: calc(50% - 7px) !important;
    }
    a {
        font-weight: 300;
        font-size: 16px;
        line-height: 20px;
        color: #FBF5F3 !important;
        padding: 0.3rem 0.9375rem;
        &:hover {
            text-decoration: none !important;
        }
    }
}
#menu-menu-main {
    li {
        a {
            @include main-font;
            color: #FBF5F3 !important;
            transition-duration: .4s;            
            position: relative;
            &:after {
                content: '';
                position: absolute;
                right: 0;
                bottom: 0;
                width: 0;
                height: 1px;
                background-color: #FBF5F3;
                transition: all 0.35s ease-in-out;
            }

            &:hover {
                &:after {
                    width: 100%;
                    left: 0;
                }
            }
        }
    }
}

.bb-mobile-panel-inner {
    .bb-header-buttons .btn-login {
        background: #885A89;
        width: 100%;
    }
}
.site-header {
    background-color: transparent !important;
}
#content {
    padding-top: 0 !important;
}
.sticky-header .site-header.has-scrolled {
    background: #870557!important;
    opacity: 1 !important;
}
.site-header .sub-menu a:hover {
    color: $violet !important;
}
.site-header-container #site-logo .bb-logo img,
.site-header-container #site-logo .site-title img.bb-logo,
.site-title img.bb-mobile-logo {
    max-height: 68px !important;
}
.my-account .site-header-container #site-logo .bb-logo img,
.my-account .site-header-container #site-logo .site-title img.bb-logo,
.my-account .site-title img.bb-mobile-logo {
    max-height: 60px !important;
}










::-webkit-scrollbar {
    width: 5px;
}

/* Track */

/* Handle */
::-webkit-scrollbar-thumb {
    border: 1px solid #870557;
    background: #870557;
}

.site-header.site-header--bb.has-scrolled {
    #primary-menu>li.current-menu-ancestor {
        &>a {
            color: #fff;
            position: relative;

            &:after {
                position: absolute;
                bottom: 25px;
                content: '';
                left: 0;
                width: 100%;
                height: 1px;
                background-color: #fff;
            }
        }
    }
    .btn-login {
        background: #EF5C0A;
    }
}
.sticky-header .site-header {
    box-shadow: none!important;
}
.site-navigation__members {
    justify-content: space-between;
    width: 100%;
    display: flex;
    background: #EFEEEE;
    height: 76px;
    align-items: center;
    padding: 0 4%;
    form.search-form {
        margin-bottom: 0;
        input[type=search] {
            border: 1px solid #9E9E9E;
            box-sizing: border-box;
            border-radius: 26px;
            min-width: 290px;
            height: 31px;
        }
    }
}
