$light: #FBF5F3;
$violet: #870557;
$orange: #EF5C0A;



body, p, li {
	font-family: freight-sans-pro, sans-serif !important;
	font-size: 20px;
	font-weight: 400;
	line-height: 140%;
	
	@media (max-width: 500px) {
        font-size: 18px;
    }
}

h1, h2, h3, h4, h5, h6 {
	font-family: freight-sans-pro, sans-serif !important;
	color: #222222;
	font-weight: 500 !important;
}

.et_pb_bg_layout_light h1,
.et_pb_bg_layout_light h2,
.et_pb_bg_layout_light h3 {
	color: #222222 !important;
}

body:not(.learndash-cpt) h1 {
	font-size: 48px !important;
	line-height: 120% !important;
	text-transform: uppercase !important;
	padding-bottom: 15px !important;
	
	@include tablet {
		font-size: 40px !important;
	}
	
	@include phone {
		font-size: 36px !important;
	}
}

body:not(.learndash-cpt) h2 {
	font-size: 36px !important;
	line-height: 120% !important;
	text-transform: uppercase !important;
	
	@include tablet {
		font-size: 32px !important;
	}
	
	@include phone {
		font-size: 26px !important;
	}
}

body:not(.learndash-cpt) h3 {
	font-size: 28px !important;
	line-height: 120%;
	padding-bottom: 15px !important;
	
	@include tablet {
		font-size: 24px !important;
	}
}

p {
	padding-bottom: 0px !important;
	margin-bottom: 20px !important;
	
	&:last-of-type {
		margin-bottom: 0 !important;
	}
}

.site-content p,
.site-content li,
.site-content p,
.site-content li,
#et-boc .et-l .et_pb_module p {
	a {
		color: $violet !important;

		&:hover {
			text-decoration: underline !important;
		}
	}
}


ul {
	padding-bottom: 0 !important;
	
	li {
		margin-bottom: 5px !important;
		
		&:last-of-type {
			margin-bottom: 0 !important;
		}
	}
}




.et-db #et-boc .et-l a.et_pb_button,
a.et_pb_button {
	display: inline-block;
	min-width: 180px;
	max-width: 230px;
	color: #FBF5F3 !important;
	font-size: 18px !important;
    line-height: 100% !important;
	font-weight: 600 !important;
	text-transform: capitalize;
	text-align: center;
    background: $violet !important;
	border: none !important;
    border-radius: 4px !important;
    padding: 19px 30px !important;
	transition: 0.5s all !important;
	
	@include laptop {
		min-width: 190px;
	}
	
	@include phone {
		padding: 16px 30px !important;
    }
	
	&:after {
		display: none !important;
	}
	
	&:hover {
		background: #7D225C !important;
		text-decoration: none !important;
	}
}

a.et_pb_button.orange {
    background: $orange !important;
	
	&:hover {
		background: #C65F26 !important;
	}
}

a.main-btn.width-300,
a.et_pb_button.btn-width-300 {
    width: 300px !important;
	max-width: 300px !important;
}

a.main-btn,
.et-db #et-boc .et-l .et_pb_module a.main-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 180px;
    width: 100%;
	max-width: 230px;
    height: 56px;
	color: #FBF5F3 !important;
	font-size: 18px !important;
    line-height: 100% !important;
	font-weight: 600 !important;
	text-transform: capitalize;
	text-decoration: none;
    background: $violet !important;
	border: none !important;
    border-radius: 4px !important;
    padding: 0 30px !important;
	transition: 0.5s all !important;
	cursor: pointer;
	@include laptop {
		 min-width: 190px;
	}
    @include phone {
        height: 56px;
		line-height: 50px;
        margin-top: 20px !important;
    }
	
	&:after {
		display: none !important;
	}
	
	&:hover {
		background: #7D225C !important;
		text-decoration: none !important;
	}
}



input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
    color: #1D1D1D;
}

::-webkit-input-placeholder {
    color: #1D1D1D;
}

::-moz-placeholder {
    color: #1D1D1D;
}

:-moz-placeholder {
    color: #1D1D1D;
}

:-ms-input-placeholder {
    color: #1D1D1D;
}

input:focus::-webkit-input-placeholder,
textarea:focus::-webkit-input-placeholder {
    color: transparent;
}

:focus::-webkit-input-placeholder {
    color: transparent;
}

:focus::-moz-placeholder {
    color: transparent;
}

:focus:-moz-placeholder {
    color: transparent;
}

:focus:-ms-input-placeholder {
    color: transparent;
}

