
.error404 .section-page-banner {
	height: 360px !important;
	
	h1 {
		font-size: 100px !important;
		line-height: 100%;
		font-weight: 600;
		
		@include phone {
			font-size: 120px;
		}
	}
}

.section-404 {
	.et_pb_text {
		margin-bottom: 50px !important;
		
		p {
			font-size: 36px;
			line-height: 120%;
			font-weight: 500;
			margin-bottom: 40px;
			
			@include tablet {
				padding-top: 100px;
			}
			
			@include phone {
			   font-size: 24px;
			   margin-bottom: 20px;
			}
		}
		
		
	}
}
