
.section-blog,
.section-featured-post,
.section-news-carousel {
	.et_pb_row {
		
	}
}



.et-db #et-boc .et-l .section-blog {
	.et_pb_row {
		display: flex;
		
		@include tablet {
			flex-direction: column;
		}
		
		.et_pb_column {
			@include desktop {
				&:first-of-type {
					width: 57%;
					margin-right: 4%;
				}
				
				&:last-of-type {
					width: 39%;
				}
			}
			
			@include tablet {
				&:first-of-type {
					margin-bottom: 50px;
				}
			}
		}
	}
	
	.blog-single {
		.et_pb_post {
			width: 100%;
			max-width: 100%;
			
			.entry-featured-image-url {
				display: block;
				padding: 0;
				margin-bottom: 20px;
				
				img {
					display: block;
					width: 100%;
					height: 460px;
					object-fit: cover;
				}
			}
			
			h2.entry-title {
				font-size: 24px !important;
				font-weight: 500 !important;
				line-height: 120%;
				text-transform: uppercase !important;
				padding-bottom: 10px !important;
				
				a {
					text-transform: uppercase !important;
				}
			}
			
			.post-meta {
				font-size: 18px;
				font-weight: 500;
				line-height: 100%;
				padding-bottom: 15px !important;
				
			}
			
			.post-content {
				.post-content-inner {
					
				}
				
				a.more-link {
					display: inline-block;
					color: #870557 !important;
					font-size: 18px;
					font-weight: 600;
					line-height: 100%;
					text-transform: capitalize;
					padding-bottom: 2px !important;
					margin-top: 15px;
				}
			}
		}
	}
	
	.blog-list {
		.et_pb_post {
			width: 100%;
			max-width: 100%;
			margin-bottom: 45px;
			
			&:last-of-type {
				margin-bottom: 0 !important;
			}
			
			@include tablet {
				float: left;
				width: 48% !important;
				margin: 0 4% 4% 0 !important;
				
				&:nth-of-type(2n) {
					margin-right: 0 !important;
				}
			}
			
			@media  (max-width: 699px) {
				width: 100% !important;
				margin: 0 0 40px 0 !important;
			}
			
			.entry-featured-image-url {
				display: block;
				float: left;
				width: 200px;
				padding: 0;
				margin: 0 20px 0 0;
				
				@media (min-width: 981px) and (max-width: 1200px) {
					width: 40% !important;
				}
				
				@media (min-width: 700px) and (max-width: 980px) {
					width: 45% !important;
				}
				
				@media  (max-width: 699px) {
					width: 45% !important;
				}
				
				img {
					display: block;
					width: 100%;
					height: 150px;
					object-fit: cover;
				}
			}
			
			.post-content-wrapper {
				position: relative;
				display: flex;
				flex-direction: column;
				width: calc(100% - 220px);
				min-height: 150px;
				overflow: hidden;
				
				@media (min-width: 981px) and (max-width: 1200px) {
					width: calc(60% - 20px) !important;
				}
				
				@media (min-width: 700px) and (max-width: 980px) {
					width: calc(55% - 20px) !important;
				}
				
				@media  (max-width: 699px) {
					width: calc(55% - 20px) !important;
					min-height: 120px;
				}
			}
			
			h2.entry-title {
				display: block;
				font-size: 20px !important;
				font-weight: 500 !important;
				line-height: 120%;
				text-transform: uppercase !important;
				padding-bottom: 10px !important;
				
				a {
					text-transform: uppercase !important;
				}
			}
			
			.post-meta {
				font-size: 16px;
				font-weight: 500;
				line-height: 100%;
				padding-bottom: 35px !important;
				
			}
			
			.post-content {
				display: block;
				
				a.more-link {
					position: absolute;
					bottom: 0;
					display: inline-block;
					color: #870557 !important;
					font-size: 16px;
					font-weight: 600;
					line-height: 100%;
					text-transform: capitalize;
					padding-bottom: 2px !important;
				}
			}
		}
	}
}

.et-db #et-boc .et-l .section-featured-post {
	padding-top: 0px !important;
	
	.et_pb_row {
		padding: 0 !important;
	}
	
	.featured-post .et_pb_post {
		display: flex;
		align-items: center;
		width: 100%;
		max-width: 100%;
		background-image: linear-gradient(180deg, transparent 10%, #870557 10%, #870557 90%, transparent 90%, transparent 100%) !important;
		
		@include phone {
			flex-direction: column;
			padding-bottom: 20px;
			background-image: linear-gradient(180deg, transparent 10%, #870557 10%, #870557 100%) !important;
		}
		
		.entry-featured-image-url {
			display: block;
			float: left;
			width: 50%;
			padding: 0;
			margin: 0 !important;
			
			@include phone {
				width: 100%;
				margin-bottom: 30px !important;
			}
			
			img {
				display: block;
				width: 90%;
				height: 460px;
				object-fit: cover;
				margin: 0 auto;
				
				@include phone {
					height: 350px;
				}
			}
		}
		
		.post-content-wrapper {
			display: flex;
			flex-direction: column;
			width: 45%;
			padding: 80px 0;
			overflow: auto;
			
			@include phone {
				width: 90%;
				margin: 0 auto !important;
				padding: 0;
			}
		}
		
		h2.entry-title {
			display: block;
			font-size: 24px !important;
			font-weight: 500 !important;
			line-height: 120%;
			text-transform: uppercase !important;
			padding-bottom: 20px !important;
			
			a {
				text-transform: uppercase !important;
			}
		}
		
		.post-meta {
			display: block;
			margin-right: 5%;
			font-size: 18px;
			font-weight: 500;
			line-height: 100%;
			text-transform: uppercase;
			padding-bottom: 15px !important;
			
			.author a {
				text-transform: uppercase;
			}
		}
		
		.post-content {
			display: block;
			
			.post-content-inner {
				
			}
			
			a.more-link {
				display: inline-block;
				color: #870557;
				font-size: 18px;
				font-weight: 600;
				line-height: 100% !important;
				text-transform: capitalize !important;
				padding-bottom: 2px !important;
				margin-top: 15px !important;
				
				&:after {
					background-color: #fff !important;
				}
			}
		}
	}
}

.et-db #et-boc .et-l  .section-news-carousel {
	padding-top: 0 !important;
	
	.blog-carousel {
		.et_pb_post {
			width: 100%;
			max-width: 100%;
			
			.entry-featured-image-url {
				display: block;
				padding: 0;
				margin-bottom: 20px;
				
				img {
					display: block;
					width: 100%;
					height: 480px;
					object-fit: cover;
					border: 1px solid #eee;
				}
			}
			
			h2.entry-title {
				font-size: 20px !important;
				font-weight: 500 !important;
				line-height: 120%;
				text-transform: uppercase !important;
				padding-bottom: 10px !important;
				
				a {
					text-transform: uppercase !important;
				}
			}
			
			.post-meta {
				font-size: 16px;
				font-weight: 500;
				line-height: 100%;
				
			}
			
			.post-content {
				
				a.more-link {
					display: inline-block;
					color: #870557 !important;
					font-size: 16px;
					font-weight: 600;
					line-height: 100%;
					text-transform: capitalize;
					padding-bottom: 2px !important;
					margin-top: 20px;
				}
			}
		}
	}
}

.et_pb_posts .et_pb_post .post-content a.more-link {
	position: relative;
	padding-bottom: 2px !important;
    
	&:after {
        content: '';
        position: absolute;
        right: 0;
        bottom: 0;
        width: 0;
        height: 1px;
        background-color: #870557;
        transition: all 0.35s ease-in-out;
    }
	
    &:hover {
        &:after {
            width: 100%;
            left: 0;
        }
    }

}