.et-db #et-boc .et-l {
	
    .et_pb_section.section-ministers-intro {
        padding: 60px 0 100px !important;
        
        @include phone {
            padding: 60px 0 80px;
        }
		
		.main-text {
			max-width: 800px;
			
			margin: 0 auto 30px !important;
			
			@include phone {
				font-size: 22px !important;
			}
			
			p {
				color: #222222 !important;
				font-size: 24px !important;
			}
		}
		
		.text-description {
			max-width: 600;
			max-width: 600px;
			margin: 0 auto 50px;
			
		}
		
		.et_pb_button {
			margin: 0 auto;
		}
    }
}

#et-boc .et-l  .section-courses.page-find-minestry {
	padding-top: 0 !important;
}


.user-logged-in {
    #block__register-now {
        display: none!important;
    }
}