#et-boc .et-l .section-reviews {
    margin-top: -2%;
    .reviews-row {        
        margin-bottom: 5%;
        @include phone {
            margin-bottom: 40px;
        }
        & > div {
            display: flex;
            justify-content: space-between;
            align-items: center;
            position: relative;
            @include phone {
                flex-direction: column!important;
                max-width: 450px;
                margin-left: auto;
                margin-right: auto;
            }
            &:after {
                position: absolute;
                content: '';
                top: 10%;
                height: 80%;                
                z-index: -1;
                width: 100%;
                left: 0;
                @include phone {
                    height: 90%;
                }
            }
            .item-text {
                .et_pb_text_inner {
                    padding: 40px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    margin-bottom: 0!important;
                    @include phone {
                        padding-top: 20px!important;
                        padding-left: 5%;
                        padding-right: 5%;
                        width: 100%;
                    }
                    h6 {
                        font-size: 24px;
                        line-height: 28px;
                        text-transform: capitalize;
                        color: #FBF5F3;
                        @include phone {
                            text-align: center;
                        }
                    }

                    p {
                        font-size: 18px;
                        line-height: 140%;
                        color: #FBF5F3 !important;

                        &:nth-child(2) {
                            text-transform: capitalize;
                            margin-bottom: 0;
                            @include phone {
                                text-align: center;
                            }
                        }
                        &:last-child { 
                            margin-bottom: 0;
                        }
                    }
                }
            }
            .item-image {
                padding-left: 30px!important;
                min-width: 300px;
                max-width: 320px;
                margin-bottom: 0;
                @include phone {
                    max-width: 450px;
                    width: 100%;
                    min-width: 100%;
                }
                img {
                    height: 100%;
                    object-fit: cover;
                    width: 100%;
                    min-width: 100%;
                    min-height: 320px;
                    border-radius: 4px;
                }
                @include phone {
                    padding-left: 0!important;
                }
            }
        }
        &.reverse {
            &>div {
                flex-direction: row-reverse;
                .item-image {
                    padding-left: 0!important;
                    padding-right: 30px !important;
                    min-width: 350px;
                    @include phone {
                        padding-left: 0 !important;
                        padding-right: 0 !important;
                        max-width: 450px;
                        width: 100%;
                        min-width: 100%;
                    }
                }
            }
        }
        &.bg-purple {
            &>div {
                &:after  {
                    background-color: #870557;
                }
            }
        }
        &.bg-orange {
            &>div {
                &:after {
                    background-color: #EF5C0A;
                }
            }
        }
    }
}