#buddypress {
    .item-title a {
        font-size: 15px;
        line-height: 1.3;
        color: #870557;
    }
    .bp-search-item .entry-content {
        display: none;
    }
    .bp-search-page {
        margin-top: 5%;
    }
    .search-results-header h1 {
       font-weight: 500;
       font-size: 24px;
       line-height: 28px;
       color: #1D1D1D;
       margin-top: 30px;
    }
    .buddypress-wrap .bp-navs li.selected a .count {
        background: #870557 !important;
        &:hover {
            color: #fff!important;
        }
    }
    #buddypress .bp-search-results-wrapper .bp-navs a:hover,
    .buddypress-wrap .bp-navs li:not(.current) a:hover,
    .buddypress-wrap .bp-navs li:not(.selected) {
        color: #870557 !important;
    }
}
#buddypress .bp-search-results-list .bp-search-item .entry-meta span {
    color: #1D1D1D;
}
body.bp-search .site-header.dark-bg,
.buddypress-wrap .bp-navs li.current a .count {
    background: #870557!important;
}