

body.single.single-minister {
    .site-header {
        background: #870557 !important;
        opacity: 1 !important;
		
		#header-aside .bb-header-buttons .btn-login {
			color: $violet !important;
			background-color: #FBF5F3;
			
			&:hover {
				color: $violet !important;
				opacity: .9;
			}
		}
    }
	
	#main.site-main {
		margin-top: 76px !important;
	}
	
	.et_pb_section {
		.et_pb_row {
			max-width: 1060px !important;
		}
	}
	
	#et-boc .et-l .section-minister-header.et_pb_section {
		padding: 170px 0 50px !important;
		
		.row-minister-header {
			padding: 40px 40px !important;
			margin-bottom: 40px !important;
			background-color: #870557;
			border-radius: 4px;
			
			@media (max-width: 849px) {
				display: flex;
				flex-direction: column-reverse;
			}
			
			.et_pb_column {
				@media (min-width: 850px) {
					&:first-of-type {
						width: calc(100% - 320px);
						margin-right: 0 !important;
					}
					
					&:last-of-type {
						width: 290px ;
						margin-left: 30px;
					}
				}
				
				@media (max-width: 849px) {
					width: 100%;
					
					&:first-of-type {
						
					}
					
					&:last-of-type {
						margin-bottom: 30px !important;
					}
				}
			}
			
			.et_pb_post_title {
				margin-bottom: 0 !important;
				
				h1 {
					max-width: 630px;
					color: #FBF5F3;
					font-size: 32px !important;
					line-height: 100%;
					font-weight: 500 !important;
					text-transform: capitalize !important;
					
					@media (max-width: 849px) {
						text-align: center;
					}
					
				}
			}
			
			.minister-short-info {
				max-width: 630px;
				color: #FBF5F3;
				
				@include phone {
					width: 100%;
					text-align: center;
				}
				
				p {
					@include main-font;
					line-height: 130%;
					
					@media (max-width: 849px) {
						text-align: center;
					}
				}
			}
			
			.minister-photo {
				margin: -80px 0 !important;
				
				@media (max-width: 849px) {
					margin: -150px 0 0 !important;
				}
				
				.et_pb_title_container {
					display: none;
				}
				
				img {
					display: block;
					width: 100%;
					max-width: 300px;
					height: 320px;
					object-fit: cover;
					border-radius: 4px;
					margin: 0 auto;
				}
			}
		}
		
		.row-contact-btn {
			padding: 0px 40px !important;
			
			@media (max-width: 849px) {
				padding: 0px 10px;
			}
			
			.et_pb_button_module_wrapper {
				@media (max-width: 849px) {
					text-align: center;
				}
			
				.et_pb_button {
					@media (max-width: 849px) {
						margin: 0 auto !important;
					}
				}
			}
		}
		
		
	}
	
	#et-boc .et-l .section-minister-quote {
		padding: 0 !important;
		background: #EF5C0A;
		
		.et_pb_row {
			padding: 50px 0 !important;
			
			.et_pb_text {
				width: 90%;
				max-width: 850px;
				margin: 0 auto;
				font-family: "Cormorant", sans-serif !important;
				color: #F7F7F7 !important;
				font-size: 24px;
				line-height: 105%;
				font-weight: 500;
				
				@include tablet {
					font-size: 30px;                    
				}
				
				p {
					font-family: "Cormorant", sans-serif !important;
					color: #F7F7F7 !important;
					font-size: 36px;
					line-height: 105%;
					font-weight: 500;
					
					@include tablet {
						font-size: 30px;                    
					}
				}
			}
		}
	}
	
	.section-minister-additional {
		padding: 50px 0 140px !important;
		
		.row-minister-table {
			padding: 0 60px 30px !important;
			
			@media (max-width: 849px) {
				padding: 0 30px 30px !important;
			}
			
			.et_pb_text table {
				width: 100%;
				margin: 0;
				
				td {
					padding: 0 0 25px 0 !important;
					border: none;
					
					&:first-of-type {
						width: 200px;
						font-size: 20px;
						line-height: 110%;
						font-weight: 500;
						
						
						@include phone {
							padding: 0;
						}
					}
					&:last-child {
						color: #1D1D1D !important;
						font-size: 20px;
						line-height: 110%;
						font-weight: 500;
						
						@include phone {
							padding: 0 0 15px 20px;
						}
					}
				}
			}
		}
		
		.row-testimonials {
			padding: 0 40px !important;
			
			
			@media (max-width: 849px) {
				padding: 0px 10px !important;
			}
			
			.et_pb_column {
				padding: 50px 20px 0 !important;
				border-top: 1px solid #D6D6D6 !important;
				
				
				@media (max-width: 849px) {
					padding: 50px 20px 0 !important;
				}
			}
			
			.header-module {
				margin-bottom: 25px !important;
				
				h2 {
					color: #1D1D1D;
					font-size: 30px !important;
					line-height: 100% !important;
					font-weight: 500;
					text-transform: capitalize !important;
					padding: 0 !important;
					
					@include phone {
						margin-bottom: 20px;
					}
				}
			}
			
			.et_pb_comments_module {
				overflow: auto;
				
				.comment-respond {
					display: none !important;
				}
			
			
				.commentlist {
					max-width: 800px;
					
					li {
						margin-bottom: 40px !important;
						
						&:last-child {
							margin-bottom: 0 !important;
						}
						
						article {
							background: transparent;
						}
						
						.comment-body {
							margin: 0;
						}
						
						.comment_postinfo {
							margin-bottom: 10px;
							
							span.fn {
								color: #3b3b3b !important;
								font-size: 20px !important;
								line-height: 100% !important;
								font-weight: 500 !important;
								
								a {
									color: #3b3b3b !important;
									font-size: 20px !important;
									line-height: 100% !important;
									font-weight: 500 !important;
									cursor: initial;
									
									&:hover {
										text-decoration: none !important;
									}
								}
							}
							
							.comment_date {
								color: #3b3b3b !important;
								font-size: 20px !important;
								line-height: 100% !important;
								font-weight: 500 !important;
								padding-left: 5px;
								margin-left: 5px;
								
								&:before {
									content: '|';
									display: inline;
								}
							}
							.comment-edit-link {
								display: none;
							}
						}
						
					}
				}
			}
			
		}
	}
}
