.et-db.single-minister {
    .site-header {
        background: #870557 !important;
        opacity: 1 !important;
    }
	
	#main.site-main {
		margin-top: 76px !important;
		
		article  {
			width: 90%;
            max-width: 1060px;
            margin: 0 auto;
			
			.section-minister-header {
				padding: 30px 0 50px !important;
				
				
				.row-minister-header {
					display: flex;
					align-items: center;
					padding: 30px 30px;
					margin-top: 140px !important;
					background-color: #870557;
					border-radius: 4px;
					
					.column {
						@include desktop {
							&:first-of-type {
								width: calc(100% - 320px);
							}
							
							&:last-of-type {
								width: 290px;
								margin-left: 30px;
							}
						}
					}
					
					h1 {
						max-width: 630px;
						color: #FBF5F3;
						font-size: 24px !important;
						line-height: 100%;
						font-weight: 500 !important;
						text-transform: capitalize !important;
						
						/*
						@include phone {
							width: 100%;
						}
						
						@media (max-width: 550px) {
							max-width: 350px;
							margin: auto;
						}*/
					}
					
					.content {
						max-width: 630px;
						color: #FBF5F3;
						@include main-font;
						
						@include phone {
							width: 100%;
						}
						
						@media (max-width: 550px) {
							max-width: 350px;
							margin: auto;
						}
						/*p {
							margin-bottom: 0;
						}*/
					}
					
					img {
						display: block;
						width: 290px;
						height: 320px;
						object-fit: cover;
						border-radius: 4px;
						margin: -60px 0 !important;
						/*
						@include phone {
							position: static;
							margin-bottom: 20px;
							margin-right: 25px;
							margin-top: -14%;
							float: left;
						}
						
						@media (max-width: 550px) {
							float: none;
							width: 100%;
							margin-right: auto;
							margin-left: auto;
							max-width: 350px;
						}
						@media (max-width: 550px) {
							margin-top: -65px;
						}*/
					}
				}
				
				.row-minister-contact {
					padding: 30px 30px 0px;
				}
				
				  
				
			}
			
			.section-blockquote {
				background: #EF5C0A;
				padding: 30px;
				margin: 25px auto;
				
				blockquote {
					font-family: "Cormorant", sans-serif;
					font-style: normal;
					font-weight: 500;
					font-size: 36px;
					line-height: 106%;
					text-align: center;
					letter-spacing: 0.01em;
					color: #F7F7F7;
					max-width: 730px;
					margin: auto;
					
					@include tablet {
						font-size: 30px;                    
					}
				}
			}
			
			.section-minister-table {
				padding: 50px 0 10px;
				
				.row-minister-table {
					padding: 0 40px;
					
					table {
						width: 100%;
						margin: 0;
						
						td {
							padding: 0 0 25px 0 !important;
							border: none;
							
							&:first-of-type {
								width: 200px;
								color: #626262 !important;
								font-size: 20px;
								line-height: 110%;
								font-weight: 500;
								
								
								@include phone {
									padding: 0;
								}
							}
							&:last-child {
								color: #1D1D1D !important;
								font-size: 20px;
								line-height: 110%;
								font-weight: 500;
								
								@include phone {
									padding: 0 0 15px 20px;
								}
							}
						}
					}
				}
			}
			
			.section-testimonials {
				padding: 0px 0 140px;
				
				.row-testimonials {
					padding: 50px 20px 0;
					border-top: 1px solid #D6D6D6;
					
					.column {
						padding: 0 20px;
					}
				}
				
				h2 {
					color: #1D1D1D;
					font-size: 30px !important;
					line-height: 100% !important;
					font-weight: 500;
					text-transform: capitalize !important;
					margin-bottom: 25px !important;
					
					@include phone {
						margin-bottom: 20px;
					}
				}
				
				.comments-area {
					overflow: auto;
				}
				
				.comment-list {
					max-width: 800px;
					
					li {
						display: flex!important;
						flex-direction: column-reverse !important;
						margin-bottom: 40px;
						
						&:last-child {
							margin-bottom: 0;
							
							.comment-text {
								margin-bottom: 0;
							}
						}
						
						.name {
							color: $text-color !important;
							font-size: 22px !important;
							font-weight: 500;
							margin-bottom: 10px !important;
							
						}
						
						.comment-text {
							margin: 0 !important;
							
							p {
								color: $text-color !important;
								@include main-font;
							}
						}
						
					}
				}
			}
        }
	}
	
    .ministery-section {
        margin-top: 20px;
        margin-bottom: 65px;
    }
    
    .bb-header-buttons .btn-login {
        background-color: #FBF5F3;
        color: #870557;
        &:hover {
            opacity: .9;
            color: #870557!important;
        }
    }
    #header-aside>div>div>a {
        &:hover {
            opacity: .9;
            color: #870557 !important;
        }
    }
    .site-header.site-header--bb.has-scrolled .btn-login {
        background: #EF5C0A;
        color: #FBF5F3;
    }
}
