/* ingle course */
.learndash-theme.sfwd-courses-template-default {
	font-family: freight-sans-pro, sans-serif !important;
	background-color: #f8f8f8;
	
	.learndash-wrapper {
		.bb-learndash-banner {
			top: auto;
			left: auto;
			right: auto;
			width: 100%;
			padding: 176px 0 70px;
			margin: 0 !important;
			
			.bb-course-banner-info {
				width: 90%!important;
				max-width: 1280px !important;
				padding: 0 !important;
				margin: 0 auto !important;
				
				.bb-course-banner-inner {
					padding: 0 !important;
				}
				
				.bb-course-category {
					line-height: 100%;
					margin-bottom: 15px;
					
					.course-category-item {
						color: $light !important;
						font-size: 16px;
						font-weight: 500;
						line-height: 100%;
						text-transform: capitalize;
						padding: 0 !important;
					}
				}
				
				h1.entry-title {
					max-width: 700px;
					color: $light;
					font-size: 48px;
					line-height: 110%;
					font-weight: 500 !important;
					text-transform: capitalize;
					margin-bottom: 20px !important;
					
					@include tablet {
						font-size: 40px !important;
					}
					
					@include phone {
						font-size: 36px !important;
					}
				}
				
				.bb-course-excerpt {
					max-width: 700px;
					color: $light;
					font-size: 24px;
					line-height: 130%;
					font-weight: 400 !important;
					text-transform: capitalize;
					margin-bottom: 35px !important;
					opacity: 1;
					
					@include tablet {
						font-size: 20px !important;
					}
				}
				
				.add-button-start {
					a.btn-advance {
						
					}
					
					.bb-course-type {
						display: block;
						color: $light !important;
						font-size: 18px;
						font-weight: 500;
						line-height: 100%;
						text-transform: capitalize;
						margin-top: 20px;
					}
				}
				/*
				.avatar {
					max-width: 55px;
				}
				
				.author-name {
					font-size: 18px;
					line-height: 24px;
					color: #FBF5F3;
					@include tablet {
						font-size: 19px;
					}
					@include phone {
						text-align: center;
					}
				}
				
				.author-name {
					font-size: 18px;
					line-height: 24px;
					color: #FBF5F3;
					letter-spacing: 1px;
					@include tablet {
						font-size: 19px;
					}
				}*/
			}
		}
		
		> .bb-grid {
			width: 90%;
			max-width: 1280px;
			margin: 0 auto;
			
			.bb-learndash-content-wrap {
				padding: 70px 0 0 !important;
				
				@include tablet {
					padding: 40px 0 0 !important;
				}
				
				.ld-course-status {
					.ld-progress {
						padding: 0 !important;
						margin: 0 !important;
						
						.ld-progress-bar {
							margin: 5px auto;
						}
					}
					
					.ld-progress-stats {
						@media (max-width: 992px) and (min-width: 820px) {
							margin-bottom: 20px;
						}
						
						@media (max-width: 640px) {
							margin-bottom: 20px;
						}
						
						.ld-progress-percentage {
							font-size: 16px;
							font-weight: 600;
							line-height: 100%;
							letter-spacing: 0.5px;
							margin-bottom: 5px;
						}
						
						.ld-progress-steps {
							font-size: 16px;
							line-height: 100%;
						}
					}
				}
				
				.ld-lesson-list {
					margin-top: 30px;
					
					.ld-section-heading {
						margin-bottom: 30px;
						
						h2 {
							color: #222;
							font-size: 36px !important;
							line-height: 100% !important;
							font-weight: 500 !important;
							text-transform: capitalize !important;
							padding-left: clamp(20px, 3vw, 40px);
							
						}
					}
					
					.ld-lesson-progression {
						.ld-item-list-section-heading {
							line-height: 100%;
							padding-left: clamp(20px, 3vw, 40px);
							margin: 40px 0 15px;
							
							.ld-lesson-section-heading {
								color: #222;
								font-size: 20px;
								text-transform: uppercase;
								margin: 0 !important;
							}
						}
						
						.ld-item-lesson-item {
							background: #FDFDFD;
							border: 1px solid #D6D6D6;
							border-radius: 4px;
							margin: 0 0 20px;
							
							.ld-item-list-item-preview {
								padding: clamp(20px, 3vw, 40px);
								background-color: #fff;
								
								.ld-item-title {
									color: #1D1D1D;
									font-size: 22px;
									line-height: 120%;
									font-weight: 400;
									padding-left: 0;
									
									@include phone {
										font-size: 20px;
									}
								}
								
								.ld-status-icon {
									.ld-icon {
										position: relative;
										display: block;
										width: 100%;
										height: 100%;
										margin: 0 !important;
										
										&:before {
											top: 50%;
											left: 50%;
										}
									}
								}
								
								&:hover a .ld-item-title {
									color: $violet !important;
								}
    
    
    
							}
						}
						
					}
					
					.ld-pagination-page-course_lessons {
						
					}
				}
			}
		}
		
		.add-button-start,
		.btn-advance-start {
			a.btn-advance {
				display: flex;
				justify-content: center;
				align-items: center;
				width: 100%;
				max-width: 160px;
				height: 53px;
				color: #fff;
				font-size: 16px;
				line-height: 21px;
				font-weight: 400;
				background-color: $violet;
				border: none !important;
				border-radius: 100px;
				border-radius: 4px!important;
				box-shadow: none !important;
				transition: all linear 0.2s;
				-webkit-transition: all linear 0.2s;

				&:hover {
					background-color: #7D225C;
					text-decoration: none;
				}
			}
		}
		
		.bb-ld-tabs {
			.et_pb_section {
				padding: 50px 0 !important;
				
				.et_pb_row {
					width: 100% !important;
					max-width: 100% !important;
					
				}
				
				&.section-toggle {
					.et_pb_toggle .et_pb_toggle_content {
						max-width: 100% !important;
					}
				}
				
				.testimonial-row {
					overflow: hidden;
					padding-bottom: 20px !important;
					background: #FDFDFD !important;
					border-radius: 4px !important;
					box-shadow: 0px 8px 24px rgb(136 136 136 / 15%) !important;
						
					.et_pb_testimonial {
						display: flex !important;
						align-items: center;
						padding: 30px !important;
						background: #FDFDFD !important;
						margin: 0 !important;
							
						@media (max-width: 799px) {
							flex-direction: column !important; 
						}
						
						&:before {
							display: none;
						}
						
						.et_pb_testimonial_portrait {
							display: block;
							width: 300px !important;
							height: 300px !important;
							background-size: cover !important;
							background-position: center !important;
							border-radius: 4px !important;
							margin: 0 auto !important;
							
							@media (max-width: 500px) {
								width: 100% !important;
							}
							
							&:before {
								display: none;
							}
						}
						
						.et_pb_testimonial_description {
							width: calc(100% - 340px);
							margin-left: 40px !important;
							
							@media (max-width: 799px) {
							   width: 90%;
							   margin: 30px auto 0 !important;
							}
							
							.et_pb_testimonial_author {
								color: $violet !important;
								font-size: 24px;
								line-height: 105%;
								font-weight: 500 !important;
								margin-top: 20px !important;
								
							}
							
							.et_pb_testimonial_position {
								font-size: 16px;
								line-height: 130%;
							}
						}

						
					}
					
					.owl-stage {
						display: flex !important;
					}
					
					.owl-nav {
						display: none;
						/*position: absolute;
						top: calc(45% - 25px);
						width: 100%;
						display: flex;
						justify-content: space-between;
						@media (max-width: 500px) {
							top: calc(173px - 25px);
						}
						button {
							background: #fff;
							width: 50px;
							height: 50px;
							border-radius: 50%;
							border: 2px solid #870557 !important;
							color: #870557 !important;
							font-size: 40px;
							padding: 0;
							display: flex;
							align-items: center;
							justify-content: center;
							span {
								line-height: .9;
								height: 42px;
							}
							&:hover {
								color: #fff !important;
								background-color: #870557 !important;                
							}
						}*/
					}
					.owl-dots {
						text-align: center !important;
						
						.owl-dot {
							width: 15px;
							max-width: 15px;
							height: 15px;
							background-color: #ccc!important;
							border-radius: 50% !important;
							margin: 0 5px;
							padding: 0;
							
							&.active {
								background-color: #870557!important;
							}
						}
					}
				}
			}
		}
		
		
	}
}



/* Lesson */

body.sfwd-lessons-template-default.single-sfwd-lessons {
	font-family: freight-sans-pro, sans-serif !important;
	
	#learndash-content {
		.bb-grid {
			margin: 0 !important;
		}
		
		.lms-topic-sidebar-wrapper  {
			
			.lms-topic-sidebar-progress {
				.course-progress-wrap {
					padding-bottom: 15px;
					margin: 20px 30px;
					
					.ld-progress-stats {
						.ld-progress-percentage {
							color: #3b3b3b;
							font-size: 16px;
						}
						
						.ld-progress-steps {
							color: #3b3b3b;
							font-size: 15px;
							font-weight: 400;
						}
					}
				}
			}
			
			.bb-lesson-title  {
				color: #3B3B3B;
				font-size: 18px;
				font-weight: 400;
				line-height: 105%;
			}
			
			
			.i-progress-completed {
				.bb-icon-check {
					display: flex;
					justify-content: center;
					align-items: center;
					width: 100%;
					height: 100%;
					margin: 0 !important;
					
					&:before {
						position: relative;
						padding-top: 2px;
					}
				}
			}
		}
	}
}



/**/




.learndash.learndash_post_sfwd-courses #et-boc .et-l .courses-text-block {
    margin-top: 20px !important;
	
    .delimiter  {
        padding: 2px 0 !important;
        margin: 10px 0 20px !important;
        border-bottom: 1px solid #D6D6D6;
    }
    .text-description {
        padding-bottom: 30px;
    }
    h4 {
        font-size: 24px;
        line-height: 1.4;
        color: #870557;
        border-bottom: 1px solid #D6D6D6;
        padding-bottom: 15px;
    }

    ul {
        padding-left: 40px;
        margin-bottom: 10px;
        @include phone {
          padding-left: 20px;
        }
        @include phoneS {
            padding-left: 10px;
        }
        li {
            font-size: 24px;
            line-height: 1.4;
            color: #1D1D1D;
            padding-bottom: 35px;
            @include tablet {
                font-size: 18px;
            }
            @include phone {
              padding-bottom: 20px;
            }
        }
    }

    p {
        font-size: 24px;
        line-height: 1.5;
        color: #1D1D1D;
        @include tablet {
            font-size: 19px;
        }
    }

    h6 {
        font-size: 24px;
        line-height: 1.5;
        color: #1D1D1D;
    }
    .module-block {
        padding-top: 15px;

        p {
            font-size: 18px;
            line-height: 1.5;
            color: #1D1D1D;
            padding-bottom: 14px;
        }
        ul {
            padding-left: 20px;

            li {
                font-size: 18px;
                line-height: 1.4;
                color: #1D1D1D;
                padding-bottom: 15px;
            }
        }
    }
    .courses-text-smoll-block {
        @include phone {
            margin-bottom: 0;
        }
        &.pm-5 {
            padding-top: 15px;
        }
        h3 {
            font-size: 24px;
            line-height: 1.4;
            color: #1D1D1D;
        }
        h4 {
            font-size: 24px;
            line-height: 1.4;
            color: #870557;
            border-bottom: 1px solid #D6D6D6;
            padding-bottom: 20px;
        }
        p {
            font-size: 18px;
            line-height: 1.4;
        }
        ul {
            padding-left: 3px;
            padding-top: 5px;
			
            li {
                font-size: 18px;
                line-height: 1.4;
                color: #1D1D1D;
                padding-bottom: 25px;
            }
        } 

    }
}


.learndash.learndash_post_sfwd-courses #et-boc .et-l .courses-text-block-grey {
    background: rgba(146, 164, 183, 0.05);
    padding: 5% 0;
    position: relative;
    margin: 50px 0 ;
    @include phone {
       padding: 10% 0;
    }
    @include phoneS {
        padding: 12% 0;
    }
    &::before {
        position: absolute;
        content: '';
        top: 0;
        right: -100%;
        width: 100%;
        height: 100%;
        background: rgba(146, 164, 183, 0.05);
    }
    &::after {
        position: absolute;
        content: '';
        top: 0;
        left: -100%;
        width: 100%;
        background: rgba(146, 164, 183, 0.05);
        height: 100%;
    }
    h4 {
        font-size: 24px;
        line-height: 1.3;
        color: #870557;
        padding-bottom: 20px;
        @include phone {
            padding-bottom: 10px;
        }
    }

    p {
        font-size: 24px;
        line-height: 1.4;
        color: #1D1D1D!important;
        max-width: 415px;
        @include tablet {
            font-size: 19px;
        }
    }

    ul {
        padding: 20px 0 0;
        margin-left: 0;
        @include tablet {
            padding: 5px 0 0;
        }
        li {
            font-size: 18px;
            line-height: 24px;
            color: #565656;
            list-style: none;
            max-width: 540px;
            &:first-child {
                font-size: 24px;
            }
            &.list-last {
                font-size: 18px;
            }
        }
    }
}
body .buddyboss-theme.learndash-theme {
    background-color: #fff;
}



.bb-course-points a.anchor-course-points {
    display: none;
}


#et_builder_outer_content>div>div>div.et_pb_section.et_pb_section_1.courses-text-block-grey.et_section_regular.et_section_transparent>div>div>div.et_pb_module.et_pb_text.et_pb_text_5.et_pb_text_align_left.et_pb_bg_layout_light>div>p {
    max-width: 250px;
}
#et_builder_outer_content>div>div>div.et_pb_section.et_pb_section_1.courses-text-block-grey.et_section_regular.et_section_transparent>div>div>div.et_pb_module.et_pb_text.et_pb_text_5.et_pb_text_align_left.et_pb_bg_layout_light>div>ul {
    padding: 5px 0 0;
}





.bb-about-instructor .bb-content-wrap p {
    font-size: 18px;
    line-height: 24px;
    color: #1D1D1D;
    &:last-child {
        margin-bottom: 0;
    }
}
.bb-about-instructor h5 {
    font-size: 24px;
    line-height: 1.5;
    margin-bottom: 0!important;
    color: #870557 !important;
    @include tablet {
        font-size: 19px;
    }
}
.bb-about-instructor .bb-content-wrap p.author-position {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.3;
    color: #870557;
    text-transform: capitalize;
    margin-bottom: 15px;

}
.bb-about-instructor h5 {
    margin: 0 0 15px;
}
.learndash-theme.single-sfwd-courses .bb-about-instructor h4,
.bb-about-instructor .bb-author-meta {
    display: none;
}
.bb-about-instructor>.bb-grid {
    background: none !important;
    border: none;
}
.bb-about-instructor .bb-avatar-wrap {
    margin-right: 30px;
}
.bb-about-instructor .bb-author-info {
    font-size: 18px;
    line-height: 1.4;
    color: #1D1D1D;
}
.bb-about-instructor .avatar,
.bb-about-instructor .bb-avatar-wrap {
    max-width: 178px;
    width: 178px;
    height: 178px;
    object-fit: cover;
    @include tablet {
        max-width: 130px;
        width: 130px;
        height: 130px;
    }
    @include phone {
        max-width: 178px;
        width: 178px;
        height: 178px;
    }
}
.lms-topic-sidebar-progress .course-progress-wrap {
    margin-top: 15px;
}
div>div.bb-grid>div.bb-learndash-content-wrap>div.bb-about-instructor.bb-about-instructor--is-info#et-boc {
    margin-top: 100px;
    margin-bottom: 100px;
    @include phone {
        margin-top: 80px;
        margin-bottom: 80px;
    }
    .bb-grid {
        padding: 0;
    }
    .section-contact-course.et_pb_module {
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        h3 {
            font-family: 'FreightSansProMedium-Regular';
            font-style: normal;
            font-weight: 400;
            font-size: 24px;
            line-height: 28px;
            /* identical to box height */


            /* Black */

            color: #1D1D1D;
            margin-bottom: 1rem;
        }
        p {
            font-family: 'FreightSansProBook-Regular';
            font-style: normal;
            font-weight: 400;
            font-size: 24px;
            line-height: 31px;
            /* identical to box height */


            /* Gray/900 */

            color: #3B3B3B;
        }
        .main-btn {
            margin: 2rem auto 0;
            max-width: 180px;
            min-width: 180px;
        }
    }
}

.lms-topic-sidebar-wrapper .lms-lessions-list>ol li a.bb-lesson-head {
    color: #1D1D1D!important;
}
.bb-single-course-sidebar .bb-course-volume-list li,
.bb-single-course-sidebar .bb-button-wrap .learndash_join_button+.bb-course-type,
div>div.bb-grid>div.bb-single-course-sidebar.bb-preview-wrap>div.bb-ld-sticky-sidebar.is_stuck>div>div.bb-course-preview-content>div.bb-course-member-wrap.flex.align-items-center>span.members {
    font-size: 16px;
    line-height: 24px;
    color: #565656;
    list-style: none;
}
.course-starting {
    font-size: 16px;
    line-height: 1.3;
    color: #DEDEDE;
    padding-bottom: 15px;
}
.bb-course-points {
    margin-bottom: 24px;
}
.bb-about-instructor>.bb-grid {
    padding: 25px 0;
}
.bb-about-instructor.bb-about-instructor--is-info .bb-instructor-wrap {
    @include phone {
       flex-direction: column;
       align-items: center;
    }
}

.learndash-theme.single-sfwd-courses .bb-about-instructor .bb-avatar-wrap {
    @include phone {
        margin-right: 0;
    }
}
.bb-about-instructor h5 {
    font-size: 24px;
    line-height: 28px;
    color: #870557;
    @include phone {
        text-align: center;
    }
}
.bb-learndash-content-wrap #et-boc .et-l .section-faq-text {
    padding: 20px 60px 60px;

    .et_pb_text_inner a {
        border: 2px solid #870557 !important;

    }
}
.lms-topic-sidebar-course-navigation a.course-entry-link {
    color: #1D1D1D;
}
.course-starting {
    display: none;
}

.learndash-wrapper {
    

    .btn-advance-completed {
        a.btn-advance {
            box-shadow: inset 0 0 0 99999px rgb(0 0 0 / 10%) !important;
            border-radius: 100px;
            background-color: #1CD991;
            color: #fff;
            -webkit-transition: all linear 0.2s;
            transition: all linear 0.2s;
            font-size: 14px;
            display: inline-block;
            padding: 11px 19px;
            line-height: 1.471;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            max-width: 250px;
            margin-bottom: 20px;
            border: 2px solid #1CD991 !important;

            &:hover {
                text-decoration: none;
                background-color: #fff;
                color: #1CD991;
            }
        }
    }

    .bb-course-type.bb-course-type-open {
        font-size: 16px;
        line-height: 1.3;
        color: #DEDEDE;
        padding-bottom: 15px;
    }
}


/*
.sfwd-courses-template-default.single-sfwd-courses  #content .bb-grid {

    #et-boc .et-l  .section-toggle.et_section_regular {
        max-width: 100%!important;
        & > div {
            padding: 0;
            .et_pb_toggle_content {
                max-width: 1000px;
                p {
                    font-size: 18px;
                    line-height: 1.3;
                    color: #1D1D1D;
                    padding-bottom: 20px;
                }
                h6 {
                    font-size: 20px;
                    line-height: 1.3;
                    color: #1D1D1D;
                    &:first-child {
                        margin-top: 20px;
                    }
                }
                ul {
                    li {
                        padding-bottom: 15px;
                        font-size: 18px;
                        line-height: 1.3;
                        color: #1D1D1D;
                    }
                }
            }
        }
    }
}*/
.lms-topic-sidebar-course-navigation .ld-course-navigation .course-entry-title,
div.bb-lms-header h1 {
    color: #1D1D1D !important;
    @include laptopM {
        font-size: 30px !important;
    }
    @include phone {
        font-size: 24px !important;
    }
}
.lms-topic-sidebar-wrapper.lms-topic-sidebar-close {
    @include tablet {
        margin-left: -600px;
    }
}


.bb-lesson-head:hover,
.bb-lesson-title:hover,
.single-sfwd-lessons h1,
.single-sfwd-lessons h2,
.single-sfwd-lessons h3,
.single-sfwd-lessons h4,
.single-sfwd-lessons h5,
.single-sfwd-lessons h6,
.single-sfwd-lessons .entry-title,
.single-sfwd-lessons .widget-title,
.single-sfwd-lessons .show-support h6,
.single-sfwd-lessons label,
.single-sfwd-lessons h4 .bp-reported-type,
.single-sfwd-lessons .ld-lesson-section-heading {
    color: #1D1D1D!important;
}

.lms-header-instructor .bb-about-instructor .avatar {
    max-width: 32px !important;
    max-height: 32px !important;
}
.single-sfwd-lessons .lms-header-instructor .bb-about-instructor .bb-avatar-wrap {
        max-width: 32px !important;
        max-height: 32px !important;
}
.single-sfwd-lessons #learndash-course-header .ld-breadcrumbs-segments a {
    color: #1D1D1D !important;
}
.single-sfwd-lessons #learndash-page-content {
    padding-top: 100px;
    @include tablet {
        max-width: 100vw;
        margin-left: auto;
    }
}
.single-sfwd-lessons #masthead {
    background: #870557 !important;
}
.single-sfwd-lessons .lms-course-members-list {
    display: none;
}
.single-sfwd-lessons .bb-content-wrap h5 a{
    color: #A3A5A9 !important;
}

.sfwd-lessons-template-default.single.single-sfwd-lessons.bb-dark-theme {
    div.bb-lms-header h1 {
        color: #fff!important;
    }
    span.bb-pages,
    .bb-lesson-title,
    ul li,
    table,
    p {
        color: #FBF5F3!important;
    }
    h2 {
        font-size: 24px!important;
    }
    h2,
    #learndash-course-header .ld-breadcrumbs-segments a,
    a {
       color: #870557 !important;
    }
    #primary-menu>li .sub-menu li a,
    #primary-menu>li>a {
        color: #FBF5F3 !important;
        &:hover {
           color: #870557 !important;
        }
    }


}


.lms-topic-sidebar-wrapper {
	@include phone {
		display: none;
	}
}